sudo: required
language: ruby
services:
- docker
cache:
  apt: true
  bundler: true
  directories:
  - docker
addons:
  srcclr: true
before_install:
- sudo apt-get install optipng
- docker pull selenium/standalone-chrome:3.8.1-chlorine
- docker pull selenium/standalone-firefox:3.8.1-chlorine
- docker run -d -p 4444:4444 -v /dev/shm:/dev/shm selenium/standalone-chrome:3.8.1-chlorine
- docker run -d -p 4445:4444 -v /dev/shm:/dev/shm selenium/standalone-firefox:3.8.1-chlorine
- docker ps -a
- gem install bundler # https://github.com/travis-ci/travis-ci/issues/5239
- bundle install
script:
- rubocop
- ls -al
- ruby chrome.rb
- ruby firefox.rb
- ls -al
after_success:
- ruby coveralls.rb
notifications:
  slack:
    secure: n94sulR1sZI6TOH0ACNLf9t2hSCHDuRs6gLgKlaFo7fdHX+BYoML/F6G4Kq11zjgb+1QVNH3MaTg/8DlMpvElWwNMeC2mJ09BGnXNX7A3Xqy7zo/HyOfufSgaM1YF4DFTD6Ua7I3pnhLYDJ3Xue9Sr/6hYeKgkLEb0POT227MOO3krXfeuKaHUksIGFEwK1YLVRTUljJB7DiK/9x9NpioS0xUVYQvmeelv9m10jWocohQCrCUuLiKvszeNdQWZFQBfzs1t4J/CuiWx6Jo4sndpWw9rvLNERMtTLOT+NVPN8OYoKdg9E5KsMRsnhajzEyx9XyZb2JqDo97l8A8ObmvAO9sW2H56J7+WpcpklfM+Nc9DrsOs7MA1CODoXhArHM/jwU0cTdVpL6SlvpjVVvRZ2il7kWhcJQeLamkqiu/WoMAPHuqZQavJrA249NzgJXBLUkrbMbdwLVWIPt8v5zCYD2F6QjBgAMdhntHTCiQQCg1rEkavF1EMVXB8KC3yK3mj8naMY9okj5QR0twwl5iQhTY/1tJ1yR2Z9eVJImRVYKOxO4u2nlBc0/0BubsLS8zf1QX6+1zBRmH0fvfWhNJXfIQTF6GpR0DqI+r/9yweuMtsR6mLtue6bBG04ORc/ATL9zcobzucqwcm4W8C3OV6RjipZA2JxrfIe3bXvX6go=
